.page {
	margin: 0 10%;
}

.navBar,
.sideBar,
#songInfo {
	border: solid 1px black;
}


/*Navigation bar*/
.navBar {
	background: #FFB4B0;
	height: 50px;
	margin-bottom: 1em;
}

/*Nav Bar Anchor Elements*/
.topList li {
	list-style-type: none;
	float: left;
	display: inline;
    padding: 0 5px;
}

.topList li:last-child{
    border-left: solid 2px black;
}
/*Navigation END*/


/*Left and Right Side box alignment*/

.sideBar,
#songInfo {
	float: left;
	height: 350px;
}

/*Left Side Bar*/

.sideBar {
	background: #4DD7FA;
	max-width: 20%;
	margin-right: 1em;

}

/*Centering everything inside of the div*/
.length,
.artist,
.albumList,
.genreList {
	margin: 1em;
}

/*Making bars and boxes same width inside side bar*/
.width_setter {
	width: 185px;
}

.lengthLegend,
.genreLegend {
	margin-bottom: 10px;
}

.genreList {

	margin-right: 10px;
}

/*Breaking genre items into 2 columns*/
.col li {
	list-style-type: none;
	float: left;
	width: 50%;
	margin-left: -20px;
	padding-right: 10px;
	text-align: left;
}

.filter {
	text-align: center;
	clear: both;
	margin-top: 100px;
}

button {
	padding: 10px 20px;
	font-size: 12px;
}
/*Left side bar END*/


/*Right Side Bar*/

#songInfo {
	background: #FEFAC0;
	width: 78%;
}

#songInfo section{
	display: none;
}

.songName {
	font-size: 1.5em;
	clear: both;
	margin: 0 2em;
}

.firstSongName {
	margin-top: 1em;
}

/*info under song title centered and pipes added*/
.pipes li {
	list-style-type: none;
	float: left;
    padding: 0 1em;
	border-left: solid 2px black;
	margin-bottom: 1em;
}

.pipes li:first-child{
    border-left: none;
}
/*Right side bar END*/


/*Add Music View*/

.add_music_view {
	width: 80%;
	margin: auto;
}

.input_music {
	width: 30%;
	margin: auto;
}
